@import "tailwindcss";

@theme {
  --color-purple-635: #635FC7;
  --color-purple-a8a: #A8A4FF;
  --color-grey-112: #000112;
  --color-grey-202: #20212C;
  --color-grey-2b2: #2B2C37;
  --color-grey-3e3: #3E3F4E;
  --color-grey-828: #828FA3;
  --color-grey-e4e: #E4EBFA;
  --color-grey-f4f: #F4F7FD;
  --color-red-e45: #EA5555;
  --color-red-ff9: #FF9898;

  --font-family-sans: 'Plus Jakarta Sans', system-ui, sans-serif;
}

@layer utilities {
  .hover\:bg-purple-a8a:hover {
    background-color: var(--color-purple-a8a);
  }
  .hover\:bg-grey-e4e:hover {
    background-color: var(--color-grey-e4e);
  }
  .hover\:bg-red-ff9:hover {
    background-color: var(--color-red-ff9);
  }
}

body {
  font-family: var(--font-family-sans);
}